.navbar {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand a {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
}

.menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu ul li {
  display: inline-block;
  margin-right: 20px;
}

.menu ul li a {
  color: #fff;
  text-decoration: none;
}

.menu-icons {
  display: flex;
  align-items: center;
}

.cart-icon {
  font-size: 24px;
  margin-right: 10px;
}

.hamburger-menu {
  font-size: 24px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .menu {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #333;
    width: 100%;
    padding: 10px;
  }

  .menu.open {
    display: block;
  }

  .hamburger-menu {
    display: block;
    cursor: pointer;
  }
}
