/* Navbar.css */
.header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
}

.menu {
  display: none;
}

.menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu li {
  display: inline;
  margin-right: 20px;
}

.menu li a {
  color: #fff;
  text-decoration: none;
}

.menu-icons {
  display: flex;
  align-items: center;
}

.cart-icon {
  position: relative;
}

.cart-count {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: red;
  color: #fff;
  border-radius: 50%;
  padding: 4px;
  font-size: 0.8rem;
}

.hamburger-menu {
  display: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: transparent;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 1rem;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #444;
}

.show {
  display: block;
}

@media screen and (max-width: 768px) {
  .menu {
    display: block;
  }

  .menu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .menu li {
    margin-bottom: 10px;
    display: block;
  }

  .hamburger-menu {
    display: block;
  }
}
